<%= form_with model: @user, url: create_confirm_users_path(@user) do |form| %>

  <div class="field form-group row">
    <%= form.label :name, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :name, class:"form-control col-sm-5" %>
    <% if @user.errors[:name].any? %>
      <span style="color:red;">Name <%= @user.errors[:name][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :email_address, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :email, class:"form-control col-sm-5" %>
    <% if @user.errors[:email].any? %>
      <span style="color:red;">Email <%= @user.errors[:email][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :password, class:"col-sm-2 col-form-label" %>
    <%= form.password_field :password, class:"form-control col-sm-5" %>
    <% if @user.errors[:password].any? %>
      <span style="color:red;">Passsword <%= @user.errors[:password][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :confirm_password, class:"col-sm-2 col-form-label" %>
    <%= form.password_field :password_confirmation, class:"form-control col-sm-5" %>
    <% if @user.errors[:password_confirmation].any? %>
      <span style="color:red;">Passsword Confirmation <%= @user.errors[:password_confirmation][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :Type, class:"col-sm-2 col-form-label" %>
    <%= form.select(:role, options_for_select(User.types), {}, {:class => "form-control col-sm-5"})%>
  </div>

  <div class="field form-group row">
    <%= form.label :phone, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :phone, class:"form-control col-sm-5" %>
    <% if @user.errors[:phone].any? %>
      <span style="color:red;">phone <%= @user.errors[:phone][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :date_of_birth, class:"col-sm-2 col-form-label" %>
    <%= form.date_field :dob, class:"form-control col-sm-5" %>
    <% if @user.errors[:dob].any? %>
      <span style="color:red;">Date Of Birth <%= @user.errors[:dob][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :address, class:"col-sm-2 col-form-label" %>
    <%= form.text_area :address, class:"form-control col-sm-5" %>
    <% if @user.errors[:address].any? %>
      <span style="color:red;">Address <%= @user.errors[:address][0] %>
    <% end %>
  </div>

    <div class="field form-group row">
    <%= form.label :profile, class:"col-sm-2 col-form-label" %>
    <%= form.file_field :profile, class:"form-control col-sm-5" %>
    <% if @user.errors[:profile].any? %>
      <span style="color:red;">Profile <%= @user.errors[:profile][0] %>
    <% end %>
  </div>
  <%= form.hidden_field :create_user_id, :value => current_user.id%>
  <%= form.hidden_field :updated_user_id, :value => current_user.id%>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
    <%= link_to 'Back', users_path , class:"btn btn-dark" %>
  </div>
  
<% end %>
