
        <%= form_with :url => update_password_user_path do |form| %>
            <div class="field form-group row">
                <%= form.label :current_password, class:"col-sm-2 col-form-label" %>
                <%= form.password_field :password, class:"form-control col-sm-5", :required => 'true'%>
            </div>
            <br/>
            <div class="field form-group row">
                <%= form.label :new_password, class:"col-sm-2 col-form-label" %>
                <%= form.password_field :new_password, class:"form-control col-sm-5", :required => 'true'%>
            </div>
            <br/>
            <div class="field form-group row">
                <%= form.label :confirm_new_password, class:"col-sm-2 col-form-label" %>
                <%= form.password_field :new_password_confirmation, class:"form-control col-sm-5", :required => 'true'%>
            </div><br/>
            <div class="form-group row">
                <div class="col-sm-7">
                    <%= form.submit "Update Password", class: 'btn btn-secondary' %>
                </div>
            </div>
        <% end %>

<style>
.card_option{
    width: 50rem;
    margin: 0 auto;
}
</style>
