<div class="card">
  <h3 class="card-header">Edit Post</h3>
  <div class="card-body">
<%= form_with model: @post_form, :url => update_confirm_post_path(@post_form.id) do |form| %>

  <div class="field form-group row">
    <%= form.label :title, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :title, class:"form-control col-sm-5" %>
    <% if @post_form.errors[:title].any? %>
      <span style="color:red;">Title <%= @post_form.errors[:title][0] %>
    <% end %>
  </div>

  <div class="field form-group row">
    <%= form.label :description, class:"col-sm-2 col-form-label" %>
    <%= form.text_area :description, class:"form-control col-sm-5" %>
    <% if @post_form.errors[:description].any? %>
      <span style="color:red;">Description <%= @post_form.errors[:description][0] %>
    <% end %>
  </div>
  <div class="field form-group row">
  <%= form.label :status, class:"col-sm-2 col-form-label" %>
    <div class="custom-switch align-self-center">
        <%= form.check_box :status, class:"custom-control-input", id: "customSwitch1" %>
        <label class="custom-control-label" for="customSwitch1"></label>
    </div>
  </div>

  
  <%= form.hidden_field :id, :value =>@post_form.id %>
  <% if current_admin.present? %>
    <%= form.hidden_field :updated_user_id, :value => current_admin.id %>
    <%= form.hidden_field :create_user_id, :value => current_admin.id %>
  <% else %>
    <%= form.hidden_field :updated_user_id, :value => current_user.id %>
    <%= form.hidden_field :create_user_id, :value => current_user.id %>
  <% end %>


  <div class="actions">
    <%= form.submit "Edit", class:"btn btn-secondary" %>
    <input type="reset" value="Clear" class="btn btn-dark">
  </div>
  
<% end %>
  </div>
</div>
